<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A comment was added to your post</h1>

    <h2>Post: <%= @post.title %></h2>

    <h3>Comment: <%= @comment.text %></h3>
</html>
