<div>
  <h1>Posts</h1>
  <% @posts.each do |post| %>
    <hr />
    <h2><%= link_to post['title'], post_path(post['id']) %>
    <hr />
  <% end %>
  <br>
  <%= link_to 'Nuevo Post', new_post_path %>
</div>
